/* ここから下に記載していく */


body {
    width:1200px;
}

.header {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu ul {
    display:flex;
}

.header-menu li {
    margin-left:40px;
}

/* メインビジュアル */
.mainvisual {
    height:400px;
    background-image: url(../img/mainbg.png);
    background-position:center;
    background-size:covor;
    background-repeat:no-repeat;
}

.mainvisual_title {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.mainvisual_subtitle {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 25px;
}

/* ABOUT */
.about_one {
    font-size: 24px;
    color:#ffd61a;
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
}

.about_two {
    font-size: 18px;
    padding-top: 30px;
    text-align:center;
}

.about_three {
    font-size: 16px;
    text-align: center;
    padding:20px 0px;   
}

.about_four {
    font-size: 16px;
    text-align: center;
    padding:20px 0px 80px 0;   
}

/* mid-image */
.mid-image {
    display:flex;
}

.mid-image p {
    width:25%;
}

.mid-image p img {
    width:100%;
}

/* course */
.course_one {
    font-size: 24px;
    color:#ffd61a;
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
}

.course_two {
    font-size: 16px;
    text-align: center;
    padding:20px 0px 60px 0;   
}

/* discription */
.discription-wrapper {
    background-color:#fafafa;
    width:1200px;
}

.disc-contents {
    display:flex;
    width:1200px;
}

.disc-img {
    width:50%;
}

.disc-img img {
    width:100%;
    height:100%;
}

.disc-text {
    margin:120px 0 120px 50px;
    width:480px;
}

.disc-contents h3 {
    font-size:18px;
    font-weight: bold;
}

.disc-text p,.disc-text-mid p{
    margin-top:50px;
    font-size:16px;
    line-height:1.5;
}

.disc-text-mid {
    width:480px;
    padding:120px 0 120px 120px;
}




/* NEWS */

.news_one {
    font-size: 24px;
    color:#ffd61a;
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
}


.news_two {
    font-size: 16px;
    text-align: center;
    padding:20px 0px 60px 0;   

}

.news_wrapper {
    display:flex;
    width:1200px;
    justify-content: space-between;
}

.news-contents {
    width:380px;
}

.news-contents img {
    width:100%;
}

.date {
    padding:30px 0 24px 0;
}

.news_text {
    line-height:1.5;
}

.more-button {
    padding:60px 0;
    font-size:18px;
    color:white;
    text-align: center;
}

.more-button a {
    display: inline-block;
    height:60px;
    width:300px;
    background-color:#ffd61a;
    cursor: pointer;
    box-shadow:0 0 3px 0 (0,0,0,0.25);
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    
}

.more-button a:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
    transform: translateY(-0.1875em);
}

.access {
    background-color:#fafafa;
    padding:60px 0;
    text-align:center;
}

.access h3 {
    font-size: 18px;
    font-weight:bold;
    margin-bottom:30px;
}


/* 地図 */
.map iframe {
    width:100%;
    height:300px;
}

.information {
    background-color:#fafafa;
    padding:60px;
    display:flex;
    justify-content: center;
}

.infosen {
    margin-top:30px;
}

.contact-top {
    padding:60px 0 70px 0;
    text-align:center;
}

.contact-top h3 {
    font-size:18px;
    font-weight:bold;
}

.cont {
    font-size: 16px;
    line-height:1.5;
    padding:30px 0;
}




.bottom {
    padding:30px 0;
    background-color:#707070;
    color:white;
    text-align:center;
}

.sent {
    padding:30px 0 140px 0;
    text-align: center;
}

.sent input {
    display: inline-block;
    height:60px;
    width:300px;
    background-color:#ffd61a;
    color:white;
    border:none;
    border-radius: 5px;
    display:table-cell;
    vertical-align: middle;
    text-align: center;

}

.contactform {
    width: 100%;
    padding-left: 350px;
}

.table tr {
    line-height:1.5;
}
